
.red
{   
    display: block;
    margin: auto;
    height: 375px;
    width: 1000px;
    background-color: red;
    background-image: url("./bgimage.jpg");
    background-size: 1000px 375px;
}

.main
{
    padding-left: 50px;
}

.box1, .box2, .box3
{
    height: 300px;
    width: 300px;
    text-align: center;
}

.box
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

.about
{
    width: 1000px;
    height: 250px;
    background-color: rgb(236, 176, 64);
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.about2
{
    text-align: left;
    color: aliceblue;
    height: 200px;
    width: 400px;
}

.about2{
    margin-top: 40px;
    margin-right: 30px;
}

.about1
{   
    margin: auto;
    margin-left: 75px;
}

button
{
    color: aliceblue;
    background-color: rgb(236, 176, 64);
    border-color: white;
}

.final{
    background-color: bisque;
    width: 1000px;
    height: 380px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.final1, .final2, .final3
{   
    height: 300px;
    width: 300px;
    text-align: left;
    padding-top: 30px;
}

.final1{
    margin-left: 50px;
}

.heading
{
    width: 1000px;
    height: 80px;
    background-color: black;
    color: white;
    
}

.subheadings
{   
    padding-top: 30px;
    padding-left: 55px;
    display: flex;
    justify-content: space-between;
}

.link1, .link2, .link3, .link4
{   
    padding-right: 40px;
}

.links
{
    display: flex;
    justify-content: space-between;
}

.link1{
    padding-left: 50px;
}

